
* {
    margin: 0;
    padding: 0;
    font-weight: 100;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    position: relative;
}

/* Menu header */

.header__page {
    height: 90px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    position: fixed;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    border-bottom: 1px solid rgb(184, 175, 175);
}

.list-icon li .menu-bar {
    display: none;
    list-style: none;
}

.list-icon li {
    list-style: none;
}

.header__page > .nav__logo  img{
    height: 80px;
}


.nav__list-menu > .list-icon,
.nav__list-menu, .list-menu  {
    display: flex;
}

.nav__list-menu > .list-icon a {
    color: black;
    padding-left: 12px;
}

.nav__list-menu > .list-icon {
    margin-left: 60px;
}

.nav__list-menu > .list-icon i:hover {
    color: red;
}

.nav__list-menu .list-icon .shopping-cart-a{
    text-decoration: none;
    position: relative;
}

.list-icon .shopping-cart-a::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 22px;
    background-color: #dfe6e9;
    top: 20px;
    right: -1px;
    opacity: 0;
}


.list-icon .shopping-cart-a:hover .shopping-cart {
    opacity: 0.8;
    visibility: visible;
    transition: all 800ms ease-out;
}


.list-icon .shopping-cart-a .shopping-cart {
    position: absolute;
    top: 40px;
    left: 0;
    border-radius: 2px;
    background-color: #dfe6e9;
    border: 1px solid #b2bec3;
    opacity: 0;
    visibility: hidden;
    transition: top .8s;
}

.list-icon .shopping-cart-a .shopping-cart p {
    padding: 14px 28px;
    color: #2d3436;
    font-weight: 100;
}

.list-icon .shopping-cart-a .shopping-cart button {
    margin-bottom: 14px;
    border: none;
    background-color: #2d3436;
    padding: 4px 8px;
    color: #dfe6e9;
    border-radius: 4px;
}
.list-icon .shopping-cart-a .shopping-cart button:hover {
    background-color: #d63031;
}



.nav__list-menu > .list-menu li{
    list-style: none;
}

.nav__list-menu > .list-menu li a:hover {
    color: red;
}

.nav__list-menu > .list-menu li a {
    text-decoration: none;
    padding-left: 40px;
    color: black;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
}

.nav__list-menu > .list-menu li:hover {
    color: #9D0E01;
}

.header__page  .nav__list-menu  .list-menu  li:hover > ul {
    background-color: rgb(255, 255, 255);
    top: 59px;
    visibility: visible;
    opacity: 0.9;
}


.list-menu-drop li:hover div{
    color: #9D0E01;
    transform: translateX(10px);
    transition: all 800ms ease-out;
    border-bottom: none;
}

.header__page > .nav__list-menu > .list-menu li > .list-menu-drop{
    width: 250px;
    position: absolute;
    top: 70px;
    left: 40px;
    font-size: 18px;
    line-height: 20px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 30%);
    opacity: 0;
    visibility: hidden;
    transition: top .8s;
}

.header__page > .nav__list-menu > .list-menu li > .list-menu-drop::before {
    content: "";
    width: 70px;
    height: 50px;
    display: block;
    position: absolute;
    top: -50px;
}

.list-menu-drop li {
    padding: 20px 0;
    border-top: 1px solid rgb(228, 227, 227);
    text-align: left;   
}

@media screen and (max-width: 416px) {
    .list-icon li .menu-bar {
        display: inline-block;
    }

    .list-icon li {
        list-style: none;
        margin-left: 10px;
        position: relative;
    }

    .list-menu {
        display: none;
    }

}

/* footer */

.footer {
    height: 300px;
    border-top: 1px solid #333;
    text-align: center;
    padding: 60px;
    margin-top: 40px;
}

.footer > .row1 a {
    font-size: 14px;
    font-weight: 600;
}

.footer > .row2 a {
    font-weight: 100;
}

.footer > .row1 a, .row2 a{
    color: gray;
    text-decoration: none;
    padding: 6px;
}

.footer > .row1 a:hover, .row2 a:hover {
    color: red;
}

.footer >.row2 {
    padding: 30px;
    font-size: 16px;
}

.footer >.social {
    font-size: 38px;
}

.footer > .social a {
    text-decoration: none;
    margin-left: 10px;
}

.footer > .social > .social-face {
    color: #607fbe;
}


.footer > .social > .social-insta {
    color: rgb(246, 13, 1);
}


.footer > .social > .social-youtube {
    color: red;
}

.footer > .copyright{
    font-size: 16px;
    color: gray;
    margin-top: 20px;
    font-weight: 200;
}

/* cart */

.container-cart {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    background: #485460;
    padding: 0 300px;
}

.cart-row {
    color: white;
    padding: 14px 30px;
    border-radius: 2px;
    cursor: context-menu;
    font-weight: 500;
    position: relative;
}

.order::before {
    content: "";
    border-bottom: 3px solid #ffff;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
}

.infor-cart {
    margin: 40px 0;
}

.content-cart {
    margin: 20px 0;
}

.infor-cart .content-cart {
    font-size: 38px;
    text-align: center;
    font-weight: 400;
}

.infor-cart .no-cart a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 1px solid #333;
    margin-left: 120px;
}

.infor-cart .no-cart a:hover {
    color: white;
    background-color: #4bcffa;
    border-color: #4bcffa;
    transition: 200ms linear;
}

/* Back top */

.backtop {
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 30px;
    text-decoration: none;
    padding: 0 11px;
    border-radius: 100%;
}

.div-backtop {
    height: 40px;
    width: 40px;
}

.backtop:hover {
    background: #4bcffa;
    color: white;
}

@media screen and (max-width: 416px) {
    .footer {
        height: 200px;
        font-size: 14px; 
    }
    
    .footer > .row1 a{
        font-size: 13px;
    }
    
    .footer > .row1 a:hover, .row2 a:hover {
        color: red;
    }

    .footer >.row2 a {
        font-size: 13px; 
    }
    
    .footer >.row2 {
        padding: 30px 8px;
        
    }
    
    .footer >.social {
        font-size: 28px;
    }
    
    .footer > .social a {
        text-decoration: none;
        margin-left: 10px;
    }
    
    .footer > .social > .social-face {
        color: #607fbe;
    }
    
    
    .footer > .social > .social-insta {
        color: rgb(246, 13, 1);
    }
    
    
    .footer > .social > .social-youtube {
        color: red;
    }
    
    .footer > .copyright{
        font-size: 14px;
        color: gray;
        margin-top: 20px;
    }
}

