
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    position: relative;
}


@keyframes show {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
    }
}


/* Menu header */

.header__page {
    height: 90px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    position: fixed;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}

.header__page > .nav__logo {
    font-weight: bold;
    cursor: pointer;
}

.header__page > .nav__list-menu > .list-icon,
.nav__list-menu, .list-menu  {
    display: flex;
}

.header__page > .nav__list-menu > .list-icon a {
    color: black;
    padding-left: 12px;
}

.header__page > .nav__list-menu > .list-icon {
    margin-left: 60px;
}

.header__page > .nav__list-menu > .list-icon i:hover {
    color: red;
}

/* .nav-search {
    width: 100%;
    height: 100px;
    padding-top: 180px;
    text-align: center;
} */

/* .nav-search input{
    border: none;
    border-bottom: 1px solid #333;
    width: 100%;
    text-align: center;
    font-size: 30px;
    
} */


.header__page > .nav__list-menu > .list-menu li{
    list-style: none;
}

.header__page > .nav__list-menu > .list-menu li a:hover {
    color: red;
}

.header__page > .nav__list-menu > .list-menu li a {
    text-decoration: none;
    padding-left: 40px;
    color: black;
    cursor: pointer;
}

.header__page > .nav__list-menu > .list-menu li:hover {
    color: #9D0E01;
}

.header__page  .nav__list-menu  .list-menu  li:hover > ul {
    background-color: rgb(255, 255, 255);
    top: 65px;
    visibility: visible;
    opacity: 0.9;
}


.list-menu-drop li:hover{
    color: #9D0E01;
    transform: translateX(10px);
    transition: all 900ms ease-out;
    border-bottom: none;
}

.header__page > .nav__list-menu > .list-menu li > .list-menu-drop{
    width: 250px;
    position: absolute;
    top: 70px;
    left: 40px;
    font-size: 18px;
    line-height: 20px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 30%);
    opacity: 0;
    visibility: hidden;
    transition: top .8s;
}

.header__page > .nav__list-menu > .list-menu li > .list-menu-drop::before {
    content: "";
    width: 70px;
    height: 50px;
    display: block;
    position: absolute;
    top: -40px;
}

.list-menu-drop li {
    padding: 20px 0;
    border-top: 1px solid rgb(228, 227, 227);
    text-align: left;   
}

@media screen and (max-width: 416px) {
    .nav__list-menu .list-menu{
        display: none;
    }

}

/* footer */

.footer {
    height: 300px;
    border-top: 1px solid #333;
    text-align: center;
    font-size: 18px; 
    padding: 60px;
    margin-top: 40px;
}

.footer > .row1 a, .row2 a{
   color: black;
   text-decoration: none;
   padding: 6px;
    font-size: 20px;
}

.footer > .row1 a:hover, .row2 a:hover {
    color: red;
}

.footer >.row2 {
    padding: 30px;
    font-size: 18px;
}

.footer >.social {
    font-size: 38px;
}

.footer > .social a {
    text-decoration: none;
    margin-left: 10px;
}

.footer > .social > .social-face {
    color: #607fbe;
}


.footer > .social > .social-insta {
    color: rgb(246, 13, 1);
}


.footer > .social > .social-youtube {
    color: red;
}

.footer > .copyright{
    font-size: 18px;
    color: gray;
    margin-top: 20px;
}

@media screen and (max-width: 416px) {
    .footer {
        height: 200px;
        font-size: 14px; 
    }
    
    .footer > .row1 a{
        font-size: 13px;
    }
    
    .footer > .row1 a:hover, .row2 a:hover {
        color: red;
    }

    .footer >.row2 a {
       font-size: 13px; 
    }
    
    .footer >.row2 {
        padding: 30px 8px;
        
    }
    
    .footer >.social {
        font-size: 28px;
    }
    
    .footer > .social a {
        text-decoration: none;
        margin-left: 10px;
    }
    
    .footer > .social > .social-face {
        color: #607fbe;
    }
    
    
    .footer > .social > .social-insta {
        color: rgb(246, 13, 1);
    }
    
    
    .footer > .social > .social-youtube {
        color: red;
    }
    
    .footer > .copyright{
        font-size: 14px;
        color: gray;
        margin-top: 20px;
    }
}

